{% extends "farmers/headerfooter.html" %}

{% block content %}
<div class="mb-2">
    <nav class="navbar header-top fixed-top navbar-expand-lg  ">
        <span class="navbar-toggler-icon leftmenutrigger"></span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav animate side-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/make_post">Make Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sold_products">Sold Products</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}
