{% extends "farmers/headerfooter.html" %}

{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

    <div class="container">
        <div class="row">
            <div class="col-sm-3"><!--left col-->

                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                         alt="avatar">
                </div>
                </hr><br>


                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78
                    </li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-facebook fa-2x"></i>
                        <i class="fa fa-github fa-2x"></i>
                        <i class="fa fa-twitter fa-2x"></i>
                        <i class="fa fa-pinterest fa-2x"></i>
                        <i class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div>

            </div><!--/col-3-->
            <div class="col-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#myPost">Make Posts</a></li>
                    <li><a data-toggle="tab" href="#historic">Historic</a></li>
                    <li><a data-toggle="tab" href="#caclculation">Calculation</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="myPost">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>Make Post</h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <form action="/make_post" method="post" enctype="multipart/form-data">

                                                {% csrf_token %}

                                                <div class="form-group row">
                                                    <label for="title" class="col-12 col-form-label">Enter Title
                                                        here</label>
                                                    <div class="col-12">
                                                        <input id="title" name="title" placeholder="Enter Title here"
                                                               class="form-control here" required="required"
                                                               type="text">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="description" class="col-12 col-form-label">Enter
                                                        Description</label>
                                                    <div class="col-12">
                                                        <input id="description" name="description"
                                                               placeholder="Enter description"
                                                               class="form-control here"
                                                               type="text">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label for="photo" class="col-12 col-form-label">Enter Photo
                                                        here</label>
                                                    <div class="col-12">
                                                        <input id="photo" name="photo" accept="image/*"
                                                               class="form-control here btn-primary"
                                                               type="file">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label for="content" class="col-12 col-form-label">Enter content
                                                        here</label>
                                                    <div class="col-12">
                                                        <textarea id="content" name="content" cols="40" rows="5"
                                                                  class="form-control"></textarea>
                                                    </div>
                                                </div>


                                                <div class="col-md-12">
                                                    <button type="submit" value="submit" class="btn btn-primary">Add
                                                        New
                                                    </button>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="historic">
                        {% for post in myPost%}


                        <div class="card  mr-md-3 text-center overflow-hidden" style="border-radius: 21px ;">
                            <div class="view overlay">
                                <img src="/media/{{post.image}}" class="img-fluid"
                                     alt=""
                                     style="border-radius: 21px  21px  0 0;">
                                <a href="#">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body text-center mb-3">
                                <h3 class="card-title mt-2 pb-4"><strong>{{post.title}}</strong></h3>
                                <h6 class="card-title mt-2 pb-4"><strong>{{post.description}}</strong></h6>
                                <p class="card-text">{{post.content}}
                                </p>
                            </div>
                        </div>

                        <br>

                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="caclculation">

                    </div>

                </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>

</div>


</div>
<script>


</script>
{% endblock %}
