{% extends "farmers/headerfooter.html" %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

    <form class="form-horizontal" action='/register' method="POST">

        {% csrf_token %}

        <fieldset>
            <div id="legend">
                <legend class="">Register</legend>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">Emri i Perdorusit</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                    <p class="help-block">Vendosni emrin e perdorimit</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">Id e certifikimit</label>
                <div class="controls">
                    <input type="text" id="id" name="id" placeholder="" class="input-xlarge">
                    <p class="help-block">Vendosni id e certifikimit bio</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                    <p class="help-block">Vendosni your E-mail</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" >Numri i telefonit</label>
                <div class="controls">
                    <input type="number" id="phone" name="phone" placeholder="+355" class="input-xlarge">
                    <p class="help-block">Numri i telefonit </p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" >Qyteti</label>
                <div class="controls">
                    <input type="text" id="city" name="city" placeholder="" class="input-xlarge">
                    <p class="help-block">Qyteti ku prodhoni </p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" >Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">Passwordi duhet te jet me i gjate se 4 karaktere</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">Password (Konfirmimi)</label>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                           class="input-xlarge">
                    <p class="help-block">Please konfirmoni password-in</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success" type="submit" value="submit">Rregjistrohu</button>
                </div>
                <div class="controls">
                    <a href="/login" class="btn btn-success">Hyr</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}